---
import { Waline } from './Waline'
import Config from '@/astro-obsidian.config'
import Giscus from './Giscus.astro'

const {
  comments: { enable },
} = Config
---

<div>
  {enable === 'giscus' && <Giscus />}
  {enable === 'waline' && <Waline client:visible />}
</div>
